# Build artifacts
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.gz

# Project system
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.FileListAbsolute.txt
*.sourcelink.json
*.csproj.FileListAbsolute.txt

# Static web assets
*.staticwebassets*.json
staticwebassets*.json

# MSBuild & ASP.NET Core
msbuild.*
*.props
*.txt

# VS & Rider
.vs/
.idea/
*.user
*.suo

# Databases
*.db
*.db-shm
*.db-wal
